@charset "UTF-8";

.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	width: 25%;
	float: left;
	font-family: "Source Sans Pro";
	color: #A5A5A5;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.row .columns p {
	padding-left: 10%;
	padding-right: 10%;
	color: #000000;
}
.container .columns h4 {
	text-align: center;
	color: #128612;
}
.primary_header {
	width: 100%;
	background-color: #E8E8E8;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: left;
}
header .primary_header img {
	width: auto;
	max-width: 100%;
}
.secondary_header {
	width: 100%;
	background-color: #8A3388;
	height: 40px;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	text-align: right;
}
.secondary_header ul li {
	list-style: none;
	display: inline;
	margin-right: 20px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: .5px;
	transition: all 0.3s linear;
	text-align: center;
}
.secondary_header ul li a {
	text-decoration: none;
	color: #FFFFFF;
}
.secondary_header ul li:visited {
	color: #FFFFFF;
}
.secondary_header ul li:hover {
	color: #FFFFFF;
	background-color: #128612;
}
.article_h {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #343434;
	padding-bottom: 15px;
}
.form_heading {
	margin-left: 50px;
	margin-top: 50px;
}
.form {
	margin-left: 50px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #000000;
}
.container .left_article li {
	margin-left: -40px;
}
.right_article {
	width: 40%;
	float: left;
}
.trainers p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: justify;
}
.trainers {
	width: 30%;
	float: right;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.image1 {
    max-width: 787px;
    max-height: 395px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
}
.image2 {
    max-width: 1288px;
    max-height: 872px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	height: 100%;
	width: 95%;
}
.image3 {
    max-width: 968px;
    max-height: 1289px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
}
.staff {
	max-width: 850px;
    max-height: 850px;
	border-radius: 200px;
	width: 50%;
	justify-content: center;
	margin-left: 25%;
}
map {
	width: auto;
}
table {
	border-spacing: 15px;
}
.video-container {

	padding-bottom:56.25%;
	padding-top:30px;
	margin-right:30px;
	margin-left:30px;
	margin-bottom: 50px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
    top:0;
	left:0;
	width:100%;
	height:100%;
}
.left_half {
	background-color: #128612;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-weight: bold;
	height: 225px;
}
.right_half {
	background-color: #128612;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	font-weight: bold;
	padding-bottom: 20px;
}
.columns p {
	 font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.footer {
	background-color: #8A3388;
	height: 90px;
}
.footer_links {
	color: #FFFFFF;
}
.footer_links:hover {
	background-color: #128612;
	color: #FFFFFF;
}
.copyright {
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
	font-size: small;
	padding-top: 10px;
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
h2, h4 {
	color: #128612;
}
.trainer_name {
	text-align: center;
}
.emphasize {
	font-style: italic;
}
.strong {
	font-weight: bold;
}
.button {
    background-color: green;
    border: 1px solid #35772B;
	border-radius: 5px;
    color: white;
    padding: 2px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

/*
   M   M  AA  X   X     333   22   000  
   MM MM A  A  X X  ::     3 2  2 0  00 
   M M M AAAA   X        33    2  0 0 0 
   M   M A  A  X X  ::     3  2   00  0 
   M   M A  A X   X     333  2222  000  
*/
@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	display:block;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	text-transform: none;
}	
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	height: 115px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.form_heading {
	margin-left: 0px;
}
.form {
	margin-left: 0px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.trainers {
	width: 100%;
	float: none;
}
.image1 {
	display: none;
}
.image2 {
	display: none;
}
.image3 {
	display: none;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.footer {
	height: 150px;
}
}

/*
   M   M  AA  X   X     77777   6    888  
   MM MM A  A  X X  ::     7   6    8   8 
   M M M AAAA   X         7   6666   888  
   M   M A  A  X X  ::    7   6   6 8   8 
   M   M A  A X   X       7    666   888  
*/
@media (min-width: 321px) and (max-width: 768px) {

.secondary_header ul li a {
	text-decoration: none;
	color: #FFFFFF;
}
.secondary_header ul li a:visited {
	color: #FFFFFF;
}
.secondary_header ul li a:hover {
	color: #000000;
	font-weight: bold;
}	
.secondary_header ul li {
	float: none;
	margin-top: 10px;
	margin-left: 0px;
	width: 100%;
	display:block;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	height: 115px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.form_heading {
	margin-left: 0px;
	text-align: center;
}
.form {
	margin-left: 0px;	
	}
table {
	margin-left: auto;
	margin-right: auto;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
	text-align: center;
}
.image1 {
	display: none;
}
.image2 {
	display: none;
}
.image3 {
	display: none;
}
.trainers {
	width: 100%;
	float: none;
}
.columns {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.footer {
	height: 150px;
}
}


/*
   M   M  AA  X   X      11   000   888   000  
   MM MM A  A  X X  ::  111  0  00 8   8 0  00 
   M M M AAAA   X        11  0 0 0  888  0 0 0 
   M   M A  A  X X  ::   11  00  0 8   8 00  0 
   M   M A  A X   X     11l1  000   888   000  
*/
@media (min-width: 769px) and (max-width: 1000px) {

.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.image1 {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}
}

/*
   M   M  AA  X   X         
   MM MM A  A  X X  ::      
   M M M AAAA   X       ----- 
   M   M A  A  X X  ::      
   M   M A  A X   X  
*/
@media (min-width: 1001px) {
}
.thumbnail {
	width: 75px;
	height: 75px;
	border-radius: 200px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E8E8E8;
	clear: both;
	overflow: auto;
	border-top: 2px solid #8A3388;
}
.social_icon {
	width: 20%;
	display: inline;
	transition: all 0.3s linear;
	line-height: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
